@page "/categories/details/{Id:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (category is null)
{
    <p>Cargando...</p>
}
else
{
    <h3>@category.Name</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/prodcategories/create/@category.Id">Nuevo Producto/Categoria</a>
        <a class="btn btn-success" href="/categories">Regresar</a>
    </div>

    <GenericList MyList="prodcategories">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto/Categoria</th>
                        <th>Producto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prodcategory in prodcategories!)
                    {
                        <tr>
                            <td>
                                @prodcategory.Name
                            </td>
                            <td>
                                @prodcategory.ProductsNumber
                            </td>
                            <td>
                                <a class="btn btn-info" href="/prodcategories/details/@prodcategory.Id">Detalles</a>
                                <a class="btn btn-warning" href="/prodcategories/edit/@prodcategory.Id">Editar</a>
                                <button class="btn btn-danger" @onclick=@(() => DeleteAsync(prodcategory.Id))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}

@code {
    private Category? category;
    private List<ProdCategory>? prodcategories;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.Get<Category>($"/api/categories/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/categories");
                return;
            }

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        category = responseHttp.Response;
        prodcategories = category!.ProdCategories!.ToList();
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/prodcategories/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }
}